/* -------------------------------------
Table of Index
----------------------------------------
Typography
Typography media
Common Styles
1. Header style starts
1.1 Header Media
2. Hero style starts
2.1 Custom Date type input style starts 
2.2 Select2 dropdown style starts
2.3 Hero Media 
3. About Content
3.1 About Media 
4. Our Service style starts
4.1 Ripple effect starts
4.2 Our Service Media
5. Doctors style starts
5.1 Doctors Media
------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
body {
    background-color: #fdfeff !important;
    scroll-behavior: smooth;
}

:root {
    --dim-text: #666 !important;
    --bs-black: rgba(0, 0, 0, 0.88) !important;
    --primary-text: rgb(34, 34, 34) !important;
    --navlink-hover: #008037 !important;
    --primary-btn-bg: rgb(181, 238, 248) !important;
    --primary-btn-hover: rgb(173, 232, 243) !important;
    --dcl-btn: #147081 !important;
    --light-bg: #f0fbfd !important;
    --dcl-btn-hover: #0d5360 !important;
    --card-name-text: rgb(246, 165, 15) !important;
    --card-heading-text: #b37ef8 !important;
    --basic-white: rgb(247, 247, 247) !important;
    --dark-white:#d3d3d391 !important;
}
dl, ol, ul {
    margin: 0 !important;
    padding-left: 0 !important;
}
li {
    list-style: none;
}
/* Typography */
h1 {
    font-size: clamp(2.5rem, 3.569vw + 1.217rem, 5.5rem);
    font-weight: 600;
    margin: 2rem 0 2rem 0;
    color: var(--primary-text);
}

h2 {
    font-size: clamp(1.375rem, 1.0261rem + 1.4887vw, 2.8125rem);
    line-height: 135%;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: clamp(1.25rem, 1.0225rem + 0.9709vw, 2.1875rem);
    line-height: 135%;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
    margin-bottom: 1.5rem;
    line-height: 135%;
}

h5 {
    font-size: clamp(1rem, 0.909rem + 0.3883vw, 1.375rem);
    line-height: 135%;
    font-weight: 400;
}

h6 {
    font-size: clamp(1rem, 0.074vw + 0.974rem, 1.063rem);
    line-height: 135%;
    margin-bottom: .875rem;
    margin-top: .875rem;
}

p {
    font-family: "Work Sans", sans-serif;
    font-size: clamp(1rem, 0.074vw + 0.974rem, 1.063rem);
    line-height: 145%;
    margin-bottom: 1rem;
    color: var(--dim-text);
}

small {
    display: block;
    font-size: 13px;
}

strong,
b {
    font-weight: 600;
}

a {
    font-size: 16px;
    line-height: 135%;
    text-decoration: none;
}

.btn-primary {
    font-weight: 600;
    display: inline-flex;
    color: var(--primary-text);
    padding: .875rem 2rem;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease-in-out;
    margin-bottom: 1.5rem;
    text-decoration: none !important;
    background-color: var(--primary-btn-bg) !important;
}

.btn-primary:hover {
    background-color: var(--primary-btn-hover);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px) !important;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(68, 68, 68, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(68, 68, 68, 0.1);
}

label {
    font-size: 15px;
    color: var(--primary-text);
    margin-bottom: .3rem;
}

/* Typography media */
@media screen and (max-width:767px) {
    h1 {
        margin: 2rem 0 1rem 0;
    }

    .btn-primary {
        padding: 0.875rem 1.5rem;
    }
}

/* Common Styles */
.section-wrapper {
    margin-top: 5rem;
}

.section-header h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem !important;
    padding-top: .5rem !important;
}

.st-animation {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.st-animation div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-line {
    width: 100%;
    height: 2px;
    background-color: var(--dcl-btn-hover);
}

.st-animation div img {
    width: 60px;
    animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(350deg);
    }
}

.st-desc {
    margin-top: 1rem;
}

.st-desc p {
    text-align: center;
    font-size: 17px;
    font-weight: 400 !important;
    line-height: 28px;
    color: var(--dim-text) !important;
}
/* 1. Header style starts */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 0.2s ease 0s;
    z-index: 1000;
    background-color: white;
}

nav.container {
    padding-top: .5rem !important;
    padding-bottom: 0;
    transition: .5s ease-in-out;
}

.sticky {
    background-color: rgb(248 248 248);
    box-shadow: 1px -10px 20px black;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-toggler-icon {
    background-image: url('../assets/images/hamburg.png');
}

.navbar-nav {
    gap: 40px;
}

.nav-link {
    position: relative;
    font-weight: 500;
    color: var(--dim-text);
    font-size: 16px !important;
    padding: 0 !important;
}

.nav-link.active {
    color: var(--navlink-hover) !important;
}

.nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8%;
    width: 100%;
    height: 2px;
    background-color: var(--navlink-hover);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8%;
    width: 0%;
    transition: .5s ease-in-out;
}

.nav-link:hover {
    color: var(--navlink-hover);
}

.nav-link:hover::before {
    width: 100%;
    height: 2px;
    background-color: var(--navlink-hover);
}

.nav-link:hover .nav-link::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--navlink-hover);
    color: var(--primary-text);
}


/* 1.1 Header Media */
@media screen and (max-width:991px) {
    button.navbar-toggler {
        border: 1px solid var(--dcl-btn);
    }

    button:focus:not(:focus-visible) {
        border: 1px solid var(--dcl-btn-hover);
        outline: 0;
        box-shadow: none !important;
    }

    .navbar-nav {
        padding: 1rem 0;
    }

}
@media screen and (max-width:575px){
    .navbar{
        padding: 0 2rem;
    }
}

/* 2. Hero style starts */
.hero {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: transparent;
    background-image: url(../assets/images/hero-banner.png);
    background-position: center;
    background-size: cover;
    padding-top: 76px;
}

.hero-wrapper {
    padding: 8rem 0;
}

.hero-title {
    color: var(--basic-white);
}

.hero-subtitile {
    color: #cdcdcd;
}

.hero-cta {
    margin-top: 4rem;
}

.appointment-wrapper {
    padding: 2.5rem 2rem;
    border-radius: 15px;
    background: white;
    box-sizing: border-box;
}

.appointment-box {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: .875rem;
}

.appointment-heading {
    text-align: center;
}

.appointment-input {
    height: max-content;
    width: 100%;
    margin-bottom: .875rem;
}

.select2 {
    width: 100% !important;
}

/* 2.1 Custom Date type input style starts */
.custom-date-wrapper {
    position: relative;
}

.custom-date-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.text-area {
    height: max-content;
    grid-column: 1 / span 2;
}

.text-area textarea {
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    font-size: 15px !important;
    color: rgb(27, 27, 27) !important;
    padding: .5rem !important;
    border: 1px solid #aaa;
}

.appointment-button {
    grid-column: 1 / span 2;
    text-align: center;
}

.appointment-button button {
    width: 100%;
    padding: 0.75rem;
    background: var(--dcl-btn);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

.appointment-button button:hover {
    background: var(--dcl-btn-hover);
}

/* 2.2 Select2 dropdown style starts */
.appointment-input input,
.select2-container--default .select2-selection--single {
    max-width: 100% !important;
    width: 100% !important;
    height: max-content !important;
    border-radius: 10px;
    font-size: 15px !important;
    color: rgb(27, 27, 27) !important;
    padding: .5rem !important;
    border: 1px solid #aaa;
}

.select2-search__field {
    border-radius: 5px;
    border: 1px solid #aaa;
}

.appointment-input input:focus-visible,
.select2-container--default .select2-selection--single:focus-visible,
.select2-search__field:focus-visible,
textarea:focus-visible {
    border: 1px solid var(--dcl-btn-hover) !important;
    outline: none;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal !important;
}

/* 2.3 Hero Media */
/* 3. About Content */
.about-content {
    margin-top: 2.5rem;
    background-image: url(../assets/images/vector.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.founders-sign {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}

.founders-sign div img {
    width: 70px;
    border-radius: 50%;
}

.f-details h5 {
    font-weight: 600;
    margin: 0;
    color: var(--dcl-btn-hover);
}

.f-details p {
    margin: 0;
}

.wt-wrapper {
    background: var(--light-bg);
    padding: 1.5rem;
}

.weekly-tbl {
    border: 1px solid var(--dcl-btn-hover);
    padding: 1rem;
}

.weekly-tbl h4 {
    text-align: left;
    margin-top: 1rem;
    color: var(--dcl-btn-hover);
}

.weekdays div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--dim-text);
}

.weekdays div h6 {
    color: var(--dim-text);
    font-weight: 400 !important;
}

.call-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.call-details i {
    font-size: 50px;
    color: var(--dcl-btn)
}

.call {
    margin: 0;
}

.ph-number {
    font-weight: 600;
    margin: 0;
    color: var(--dcl-btn-hover);
}

/* 3.1 About Media */
/* 4. Our Service style starts*/
.service-content {
    margin-top: 2.5rem;
}

.service-content .container .col-md-6 {
    padding: 0 20px;
}

/* 4.1 Ripple effect starts*/
.service-icon {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.service-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    filter: brightness(0) invert(1);
    z-index: 2;
    transition: .4s ease;
}

.service-icon::after {
    content: '';
    position: absolute;
    top: 200%;
    left: 50%;
    width: 50%;
    transform: translate(-17px, -19px);
    height: 50%;
    transition: .4s ease;
    z-index: 2;
}

.firts-service::before,
.firts-service::after {
    background: url(../assets/images/stethoscope.png) no-repeat center center / contain;
}

.second-service::before,
.second-service::after {
    background: url(../assets/images/add.png) no-repeat center center / contain;
}

.third-service::before,
.third-service::after {
    background: url(../assets/images/coronavirus.png) no-repeat center center / contain;
}

.fourth-service::before,
.fourth-service::after {
    background: url(../assets/images/pharmacy.png) no-repeat center center / contain;
}

.fifth-service::before,
.fifth-service::after {
    background: url(../assets/images/cardiogram.png) no-repeat center center / contain;
}

.sixth-service::before,
.sixth-service::after {
    background: url(../assets/images/eye.png) no-repeat center center / contain;
}

.ripple {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--dcl-btn);
    border-radius: 50%;
    border: 1px solid var(--dcl-btn);
    z-index: 1;
}

.ripple::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--dcl-btn);
    cursor: pointer;
    z-index: 2;
    transition: width 0.3s ease-out, height 0.3s ease-out;
}

.service-icon:hover::before {
    top: -50%;
}

.service-icon:hover::after {
    top: 50%;
}

.service-icon:hover .ripple::before {
    width: 100%;
    height: 100%;
}

/* 4.1 Ripple effect ends*/
.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 2rem;
    margin-bottom: 1.875rem;
}

.image-text img {
    width: 50px;
}

.i-text h4 {
    margin-bottom: .875rem !important;
    font-weight: 600;
    text-align: center;
}

.i-text p {
    font-weight: 400 !important;
    color: var(--dim-text);
    text-align: center;
    margin-bottom: .5rem;
}

.i-text small {
    color: var(--dim-text);
    text-align: center;
}

/* 4.2 Our Service Media*/

/* 5. Doctors style starts */
.doctors .section-wrapper {
    position: relative;
    background: url(../assets/images/doctors-bg.png) no-repeat center center / cover;
}

.doctors .section-wrapper h2 {
    color: var(--light-bg);
}

.doc-card {
    background: var(--light-bg);
}

.doc-img {
    width: 100%;
    position: relative;
    height: 260px;
    max-height: 260px;
    overflow: hidden;
}

.doc-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.doc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--dcl-btn);
    text-align: center;
    padding: .875rem 0;
}

.doc-info h4 {
    font-family: 'Work Sans';
    font-weight: 700;
    color: var(--light-bg);
    margin-bottom: 0;
}

.doc-info small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--light-bg);
}

.doc-schedule {
    padding: 1rem 2.5rem .5rem 2.5rem;
}

.doc-timetbl {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(113, 113, 113, 0.091) !important;
    align-items: center;
    margin-bottom: .5rem;
}

.doc-timetbl:last-child {
    border-bottom: none !important;
}

.doc-timetbl label {
    margin-bottom: 0;
    color: var(--dim-text);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: .5rem;
}

/* 5.1 Doctors Media */

/* 7. Pricing style starts */
.pricing {
    margin-top: 2.5rem
}

.pricing-contet {
    position: relative;
    margin-top: 2.5rem;
}

.price-item {
    background-color: var(--light-bg);
    border-radius: 5px;

}

.price {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price::after {
    content: '';
    position: absolute;
    height: 150px;
    left: 10%;
    width: 90%;
    background-image: url(../assets/images/price-bg.png);
    background-size: cover;
    background-position: left;
}

.price h2 {
    font-family: "Raleway", sans-serif;
    font-size: clamp(2.1875rem, 1.52rem + 1.8574vw, 3.75rem);
    color: var(--dcl-btn);
    z-index: 11;
}

.price-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 2rem 0;
}

.price-details .appointment-button {
    margin-top: 1rem;
}

/* 7.1 Owl Carousel style starts */
button.owl-prev {
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-50px);
    border: 50%;
    -webkit-animation: tm-arrow-animation 2.5s infinite;
    animation: tm-arrow-animation 2.5s infinite;
}

button.owl-next {
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50px);
    -webkit-animation: tm-arrow-animation 2.5s infinite;
    animation: tm-arrow-animation 2.5s infinite;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    padding: .5rem !important;
    border-radius: 50%;
    border: 1px solid var(--dcl-btn);
    background-color: transparent;
}

.prevIcon,
.nextIcon {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dcl-btn) !important;
    color: var(--basic-white) !important;
    padding: .5rem;
    border-radius: 50%;
    transition: .2s ease;
}

.prevIcon:hover,
.nextIcon:hover {
    background-color: var(--dcl-btn-hover) !important;
}

/*7.2 prev & next button animation */
@keyframes tm-arrow-animation {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 174, 226, .25);
        box-shadow: 0 0 0 0 rgba(44, 174, 226, .25);
    }

    70% {
        -webkit-box-shadow: 0 0 0 33px rgba(44, 174, 226, 0);
        box-shadow: 0 0 0 25px rgba(44, 174, 226, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 174, 226, 0);
        box-shadow: 0 0 0 0 rgba(44, 174, 226, 0);
    }
}

/* 9. Stay Connect style starts */
.stay-connect-content {
    margin-top: 2.5rem;
}

.st-fotm-btn .appointment-button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.appointment-button button {
    padding: .75rem 2rem;
}
/* 10. Footer style starts */
footer{
    background-color: var(--bs-black);
    margin-top: 2.5rem;
}
.footer-wrapper{
   padding: 2rem 0;
}
.footer-logo{
    width: 200px;
    height: auto;
}
.footer-abt p {
    color: var(--dark-white);
    padding-right: 3rem;
}
footer h4{
 color: var(--light-bg);
}
.quick-links li{
    margin-bottom: .5rem;
}
.quick-links li a{
    position: relative;
    color: var(--dark-white);
    font-weight: 400;
}
.quick-links li a.active {
    color: var(--navlink-hover) !important;
}
.quick-links li a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8%;
    width: 100%;
    height: 2px;
    background-color: var(--navlink-hover);
}
.quick-links li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8%;
    width: 0%;
    height: 2px;
    background-color: var(--navlink-hover);
    transition: width .3s ease;
}
.quick-links li a:hover {
    color: var(--navlink-hover);
}
.quick-links li a:hover::before {
    width: 100%;
}
hr{
    height: 2px;
    width: 100%;
    background-color: var(--dcl-btn-hover)
}